*.native
*.byte
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.out
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
*.bak*
_build
meta_filter
trash
.nfs*
TAGS
scratch.ml
*.html
*.js
*.css
report
astdefs
.syntax_lib_file_cache
tmp/*
tmp*