*.native
*.byte
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.out
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
*.bak*
_build
meta_filter
trash
.nfs*
TAGS
scratch.ml
*.html
*.js
*.css
report
astdefs
.syntax_lib_file_cache
tmp/*
tmp*
*.patch
stats
stat/
log
progress/
*TAst.ml
js/
poly/
op4/
*.dot
debug/
temp*
olvm
*.s
*.ll
o
os
top/
src/test.ml
src.stat
*.txt
*.plg
*.stat
src/A.ml
src/Ast.ml
src/S.ml
*.dsource
a.el
jslib/
ulex/