*.native
*.byte
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.out
*.txt
*.plg
*.stat
*~
*_archive
*.bak*
*.html
*.js
*.css
temp*
.nfs*
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
.\#*
*.s
*.ll


derived
auto-save-list
tramp

# Org-mode
.org-id-locations
_build
_obuild
meta_filter
trash

TAGS
scratch.ml
report
astdefs
.syntax_lib_file_cache
tmp/*
tmp*
*.patch
stats
stat/
log
progress/
*TAst.ml
js/
poly/
op4/
*.dot
debug/

olvm
o
os
top/
src/test.ml
src.stat

src/A.ml
src/Ast.ml
src/S.ml
src/tmp.ml
*.dsource
a.el
jslib/
ulex/
*.old